*{
    margin:0;
    padding:0;
    font-family:sans-serif;
    box-sizing:border-box;

}
header{
    width:100%;
    height:100vh;
    background: rgba(0,0,0,0.05);
}
nav{
    display:flex;
    justify-content:space-around;
    align-items:center;
    height:70px;
}
.logo{
    font-size:40px;
    
}
.logo span{
    color: #f14a60;
}
.lo{
    background-color: white;
}
.menu a{
   text-decoration:none;
   color:black;
   font-size:20px;
   padding:10px 20px;
   cursor:pointer;
}
.menu a:hover{
    color:#ef4f65;
}
.container{
    display:flex;
    justify-content: center;
    align-items:center;
}
.left{
    flex-basis:80%;
    max-width:550px;
    padding-left:30px;
    height: 550px;
}
.right{
    flex-basis:50%;
}
.right img{
    width:90%;
    padding-right:20px;
}
label{
    position:relative;
    background: white;
    margin-top:30px;
}
label img{
    position:absolute;
    top:0;
    bottom:0;
    left:5px;
    width:25px;
    
}
label input{
    border:none;
    outline: none;
    border-radius:5px;
    padding:10px;
    padding-left:35px;
}
.line{
   line-height: 12px;
   margin:20px 0px;;
}
.box1{
    width:15px;
    height:15px;
    background: #f14a60;
}
.box2{
    width:50px;
    height:2px;
    background: #f14a60;
}
.box3{
    width:80px;
    height:2px;
    background: #f14a60;
}
.left h1{
    font-size: 80px;
    margin-bottom:10px;;
}
.left h2{
  color:grey;
  padding-top: 5px;
}
.left button{
    background: none;
    outline:none;
    border:1px;
    background: #ef4f65;
    border:1px solid #f14a60;
    border-radius:10px;
    margin:30px 0px;
    padding:20px 20px;
    cursor: pointer;
}
.left button:hover{
    background:white;
}
.social{
    gap:10px;
    cursor: pointer;
}
.social:hover{
    color:#ef4f65;
}
.content{
  text-align:justify;
  padding-left:15px;
  
}
.left h1{
    font-size:80px;
    margin-bottom:10px;
}
.left h2{
    padding-top:10px;
}
.left p{
    padding-top:10px;
}
